body {
    background-image: url("http://www.planwallpaper.com/static/images/backgrounds_2.jpg");
}

#all{
	border-style: solid;
	border-color: black;
	height: 700px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 30px;
	margin-right: 30px;
    background-color: white;
}

#parametry{
	border-style: solid;
	border-color: black;
	margin-top: 30px;
	margin-left: 30px;
	margin-bottom: 30px;
	width: 600px;
	height: 634px;
}

#wierzcholek{
	border-style: solid;
	border-color: black;
	margin-bottom: 30px;
	height: 305px;
}

#krawedz{
	border-style: solid;
	border-color: black;
	margin-bottom: 30px;
	height: 205px;
}

#sigma-container{
	border-style: solid;
	border-color: black;
	margin-top: 30px;
	margin-right: 30px;
	margin-left: 30px;
	width: 820px;
	height: 634px;
}

h3{
	margin-left: 10px;
}

#anime{
	margin-left: 400px;
	width: 800px;
	height: 100px;
	background-color: red;
	color: white;
	font-size:50px;
